name: Test Jug

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'

    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
        version: "0.5.29"
        enable-cache: true
        cache-dependency-glob: "uv.lock"
    - name: Install dependencies and Jug
      run: |
        uv sync --all-extras --dev
        uv pip install flake8 pytest
    - name: Start Redis
      uses: supercharge/redis-github-action@1.8.1
      with:
        redis-version: 7
    - name: Test Jug script
      run: |
        mkdir _test
        cd _test
        TEST_REDIS=1 jug test-jug
        cp ../jug/tests/jugfiles/run-simple-create-file.py .
        jug execute run-simple-create-file.py
        test -f test-result.txt
